@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-roboto-sans);
  --font-mono: var(--font-roboto-mono);
  --color-border: oklch(0.8452 0 0);
  --color-background: oklch(0.8975 0 0);
  --color-foreground: oklch(0 0 0);
  --color-primary: oklch(0.6841 0.1335 267.94);
  --color-primary-hover: oklch(0.6344 0.1298 267.61);
  --color-primary-foreground: oklch(1 0 0);
  --color-destructive: oklch(0.6775 0.2105 24.73);
  --color-destructive-hover: oklch(0.623 0.198 25);
  --color-destructive-foreground: oklch(1 0 0);
  --color-success: oklch(0.6998 0.1636 147.91);
  --color-success-hover: oklch(0.6318 0.1468 147.8);
  --color-success-foreground: oklch(1 0 0);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0 0 0);
  --radius-sm: calc(0.625rem - 4px);
  --radius-md: calc(0.625rem - 2px);
  --radius-lg: 0.625rem;
  --radius-xl: calc(0.625rem + 4px);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
